<footer>
  <div class="left-footer">
      <h1><span style="font-size: 17px;">&copy;2023</span><br>Chirag-Aff <br>Bhaskar-Aff</h1>
  </div>
  <div class="right-footer">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
  </div>
</footer>
</body>
</html>
