<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aff-Logistics</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>

    <header>
        <div class="header landing-page">
            <nav>
                <div class="logo">
                    <h1>
                        <a href="/">Aff-Logistics</a>
                    </h1>
                </div>

                <ul class="nav-items">
                    <li class="nav-links" >
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-links" >
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-links" >
                        <a href="/service">Services</a>
                    </li>
                    <li class="nav-links" >
                        <a href="/contact">Contact</a>
                    </li>
                </ul>

                <label for="check" id="openandclose">
                    <div class="menu menu-left"></div>
                    <div class="menu menu-medium"></div>
                    <div class="menu menu-right"></div>
                </label>
            </nav>
        </div>
    </header>