<%- include("partials/header")-%>
<main>
    <div class="landing-page-content">
        <div class="inner-page">
            <div class="inner-content">
               <div class="col-5 left-page">
                    <div class="contract-us">
                       
                        <p> Contract Aff-Logistics</p>
                    </div>
                    <h1>Take a Seat and and Discover our Logistics World! </h1>
                    <div class="read-more-btn">
                        <a href="/booking">book Now</a>
                    </div>
               </div>

               <div class="col-5 right-page">
                   <img src="/images/images/delivery-cargo-truck.jpeg" alt="">
               </div>
            </div>
        </div>
    </div>
</main>
<div class="who-we-are">
    <div class="lapper">
        <div class="inner-lapper">
            <div class="who-we-are-heading">
                <h1>Who are We?</h1>
            </div>
            <div class="who-we-are-info">
                <p>We are Aff-Logistics firm with great reputation in Timely delivery of goods both In the country, our region and world-wide. We ferry goods in High Quality Storage facilities that can handles any category of goods , prishable or non-perishable, high-risk goods and the vice and many more</p>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer")-%>